extends ../includes/head.pug
block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")
 
block content 
    main
        if(errorMsg)
            .user-msg.user-msg__error #{errorMsg} 
        form(class="login-form", action='/new-password', method="POST") 
            .form-control
                label(for="password") New Password
                input(type="password", name="password", id="password")
                br
                label(for="cPassword") Confirm New Password
                input(type="password", name="cPassword", id="cPassword")
                br
                input(type="hidden", name="userId", value=userId)
                input(type="hidden", name="passwordToken", value=passwordToken)
                input(type="hidden", name="_csrf", value=csrfToken)
                button(type="submit", class="btn") Update Password