extends ../includes/head.pug
block styles
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/cart.css")


block content 
    main 
        ul.cart__item-list
                for p in products
                    li.cart__item 
                        h1 #{p.productId.title} 
                        p Quantity: #{p.quantity}
        .centered 
            h2 Total: #{totalSum}
        .centered   
            button.btn(id="order-btn") Pay and Order
            script(src="https://js.stripe.com/v3/") 
            script.
                var stripe = Stripe("pk_test_51Jx6l5DYTptazhzCdSEm5turXBJkRYdEFpeBeCnzSnrhujRM7xVipoWanLZjkwr9r89f1ixsf1CV4y17lYXQylec000vjlJa1y");
                var orderBtn = document.getElementById('order-btn');
                orderBtn.addEventListener('click', () => {
                    stripe.redirectToCheckout({
                        sessionId: '#{sessionId}',
                    });
                })
 
